Adafruit-Blinka==5.9.2
adafruit-circuitpython-dht==3.5.3
Adafruit-PlatformDetect==2.23.0
Adafruit-PureIO==1.1.8
aiofiles==0.4.0
aiohttp==3.7.3
alabaster==0.7.12
aniso8601==8.0.0
ansible==2.9.10
apturl==0.5.2
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.4
avalon-framework==1.8.2
Babel==2.9.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bidict==0.21.2
blinker==1.4
Brlapi==0.7.0
certifi==2019.11.28
cffi==1.14.4
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.3
colorzero==1.1
command-not-found==0.3
crcmod==1.7
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docker==4.3.1
docopt==0.6.2
docutils==0.16
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
fett==0.3.2
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SocketIO==5.0.1
future==0.18.2
gpg===1.13.1-unknown
gpiozero==1.5.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
html5lib==1.0.1
httplib2==0.14.0
hyperframe==5.2.0
idna==2.8
imagesize==1.2.0
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
livereload==2.6.3
lockfile==0.12.2
Logbook==1.5.3
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
MarkupSafe==1.1.1
meld==3.20.2
monotonic==1.5
multidict==5.1.0
netifaces==0.10.4
networkx==2.5
nose==1.3.7
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
openshot-qt==2.4.3
packaging==20.8
paho-mqtt==1.5.1
paramiko==2.6.0
pathtools==0.1.2
pexpect==4.6.0
Pillow==7.0.0
powerline-status==2.7
protobuf==3.6.1
psutil==5.5.1
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.9.9
pycups==1.9.73
pyftdi==0.52.0
Pygments==2.7.4
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.11.2
PyNaCl==1.3.0
pyparsing==2.4.7
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.17.3
pyserial==3.5
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-engineio==4.0.1
python-jsonrpc-server==0.3.4
python-socketio==5.1.0
pytz==2019.3
pyudev==0.21.0
pyusb==1.1.0
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
reportlab==3.5.34
requests==2.24.0
requests-unixsocket==0.2.0
rstcheck==3.3.1
scour==0.37
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
snooty-lextudio==1.8.6.dev0
snowballstemmer==2.0.0
soupsieve==1.9.5
Sphinx==3.4.1
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
ssh-import-id==5.10
systemd-python==234
toml==0.10.1
tornado==6.1
towncrier==19.2.0
typing-extensions==3.7.4.3
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==1.35
unattended-upgrades==0.1
unpaddedbase64==1.1.0
urllib3==1.25.8
usb-creator==0.3.7
vboxapi==1.0
wadllib==1.3.3
watchdog==0.10.4
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
xkit==0.0.0
yarl==1.6.3
