click==8.0.3
Flask==2.0.2
Flask-Sockets==0.2.1
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.2
zope.event==4.5.0
zope.interface==5.4.0
